/* CSS Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#sound-button {
      position: fixed; 
      width: 140px; 
      height: 45px; 
      top: 20px; 
      left: 90%; 
  text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
}

    .bottom-right-button {
      position: fixed; 
      width: 140px; 
      height: 45px; 
      top: 850px; 
      left: 90%; 
  text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
    }

#sound-button:hover {
      background-color: #2EE59D;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #fff;
      transform: translateY(-7px);
}

button {
      position: fixed; 
      width: 140px; 
      height: 45px; 
      top: 20px; 
      left: 45%; 
  text-transform: uppercase;

      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
  }

button:hover {
      background-color: #2EE59D;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #fff;
      transform: translateY(-7px);
}

    #close-cart {
      position: fixed; 
      top: 10px; 
      left: 10px; 
      z-index: 9999; 
    }

#deviceInfo {
  max-width: 600px;
  margin: -10px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word; 
}

#deviceInfo p {
  margin: 10px 0;
}

#deviceInfo p strong {
  font-weight: bold;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


    #close-cart {
      position: fixed; 
      width: 140px; 
      height: 45px; 
      top: 20px; 
      left: 1%; 

      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    }
    
    #close-cart:hover {
      background-color: #2EE59D;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #fff;
      transform: translateY(-7px);
    }
